<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Titel</label>
  <div class="col-sm-8 col-md-6">
    <input type="text" class="form-control" id="title" ng-model="singleBookCtrl.book.title" placeholder="Titel">
  </div>
</div>
<div class="form-group">
  <label for="author" class="col-sm-2 control-label">Författare</label>
  <div class="col-sm-8 col-md-6">
    <input type="text" class="form-control" id="author" ng-model="singleBookCtrl.book.author" placeholder="Författare">
  </div>
</div>
